<!-- Sivun pohja haetaan base.html tiedostosta -->
{% extends 'accounts/base.html' %}

<!-- Muutetaan sivun title -->
{% block title %}Img Revolution{% endblock %}

<!-- Sivun contetti alkaa -->
{% block content %}

<h3>Are you sure you want to permanently delete<br>
{% if photo.title %}
    "{{ photo.title }}"?</h3>
{% endif %}

<img src="{{ photo.image_thumbnail_small.url }}">

<form action="{% url 'delete' photo.id %}" method="POST">

    {% csrf_token %}
    <h3><a href="{% url 'delete_image' %}">Cancel</a></h3>

    <input type="submit" name="Confirm" value="Delete">
</form>

{% endblock %}
